table {
  
    border-collapse: collapse;
  }
  
  td {
  padding:10px 20px;
  border-bottom:2px solid silver;
  }

  caption {
    /* стили для заголовка таблицы */
    caption-side: top;
    text-align: center;
    font-size: 30px;
    border-width: bold;
    margin: 15px 0;
  }
  